.song-div {
	background: tomato;
	color: white;
}

.poem {
	animation: mymove 50s infinite;
	background: #ffff63;
	color: black;
}

.hello {
	background: #69003a;
	color: white;
}

.panda_chapter {
	background: #228fe3;
	color: white;
}

@keyframes mymove {
	50% {
		transform: rotate(180deg);
	}
}

.transforming-dot {

	height: 25px;
	width: 25px;
	background-color: yellowgreen;
	border-radius: 50%;
	display: inline-block;
	animation: move-dot 5s infinite
}

@keyframes move-dot {
	50% {
		border-radius: 0%;
		background-color: red;
	}

}

.flex-container {
	height: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.row {
	width: auto;
	border: 1px solid blue;
	margin: 5px;
}

.flex-item {
	padding: 5px;
	margin: 10px;
	text-align: center;
}

header {
	background: #5aab1d;
	color: white;
	text-align: center;
}
